@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h2,h3,h4,h5,h6,p {
  margin: 10px;
}
.bg-black {
  background-color: #0a0a0a !important;
}

.bg-black-700 {
  background-color: #0a0a0a !important;
}

.markdown-p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

.markdown-strong {
  font-weight: bold;
  color: #444;
}

.markdown-ul {
  list-style-type: disc;
  padding-left: 20px;
}

.markdown-li {
  margin-bottom: 10px;
}

.inline-code {
  padding: 2px 4px;
  font-size: 90%;
  color: #f8f8f2;
  background-color: #444;
  border-radius: 4px;
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
